# === Backend ===
building-materials-backend/node_modules/
# ===building-materials-backend/uploads/===
building-materials-backend/.env

# === Frontend ===
building-materials-frontend/my-react-app/node_modules/
building-materials-frontend/my-react-app/build/
building-materials-frontend/my-react-app/dist/

# === System ===
.DS_Store
Thumbs.db
*.log